<div class='container-fluid container-pagina bg-light'>

  <section class='row mb-4 border-bottom'>
    <h2 class='p-2'>Detalhes dos Investimentos</h2>
  </section>

  <section class='row p-2 bg-white border text-muted'>
    <div class='d-flex align-content-center col'>
      <fa-icon class='fs-2' [icon]='faUser'></fa-icon>
      <div class='info-grupo'>
        <p class='m-0'>Nome</p>
        <h5 class='m-0'>{{investimento?.nome}}</h5>
      </div>
    </div>

    <div class='d-flex align-content-center col'>
      <fa-icon class='fs-2' [icon]='charLine'></fa-icon>
      <div class='info-grupo'>
        <p class='m-0'>Objetivo</p>
        <h5 class='m-0'>{{investimento?.objetivo}}</h5>
      </div>
    </div>

    <div class='d-flex align-content-center col'>
      <fa-icon class='fs-2' [icon]='faDollar'></fa-icon>
      <div class='info-grupo'>
        <p class='m-0'>Saldo Total</p>
        <h5 class='m-0'>{{investimento?.saldoTotal | currency: 'BRL'}}</h5>
      </div>
    </div>
  </section>

  <section class='row mb-4 mt-2  border-bottom'>
    <h2 class='p-2'>Resgate</h2>
  </section>

  <form [formGroup]='form' (ngSubmit)='confirmarResgate()'>
    <section class='row mb-4 bg-white'>
      <table class='table table-striped'>
        <thead class='border'>
        <tr>
          <th>Ação</th>
          <th>Saldo Acumulado</th>
          <th>Valor a Resgatar</th>
        </tr>
        </thead>
        <tbody class='body-form' formArrayName='acoes'>
        <tr [formGroup]='acao' *ngFor='let acao of getArrayGroup(); let i = index'>
          <td class='pt-4 pb-4'>{{acao?.value?.nome}}</td>
          <td>{{acao?.value?.saldoAcumulado | currency: 'BRL'}}</td>
          <td>
            <input [id]='i' prefix='R$ ' mask='separator.2'
                   thousandSeparator='.' class='form-control'
                   formControlName='valorResgate' type='text'>
            <p class='mensagem-erro' *ngIf='acao.errors?.["resgateInvalido"] && submit'>O valor a
              resgatar não pode ser
              maior que {{acao?.value?.saldoAcumulado | currency: 'BRL'}}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </section>

    <section class='row d-flex mb-4 p-2 bg-white'>
      <strong>Valor total do resgate:</strong>
      <p>{{totalResgatado | currency: 'BRL'}}</p>
    </section>

    <section class='d-grid gap-2 d-md-flex justify-content-md-end mb-2'>
      <button class='btn btn-secondary me-md-2' (click)='cancelar()'>Cancelar</button>
      <button class='btn btn-primary' type='submit'>Confirmar Resgate</button>
    </section>
  </form>

  <ng-template #modalErro let-modalErro>
    <app-modal-erro [closeModal]='modalErro.close'>
      <app-fragmento-modal-erro [controls]=getArrayGroup()></app-fragmento-modal-erro>
    </app-modal-erro>
  </ng-template>

</div>
