.container-pagina {
  .info-grupo {
    margin-left: 1rem;
  }

  .body-form {
    tr {
      td {
        padding: 1.5rem 0.5rem;
        vertical-align: middle;
      }
    }
  }

  .mensagem-erro {
    font-weight: 600;
    font-size: 14px;
    color: red;
    margin-bottom: 0;
  }

  .container-botoes {
    display: flex;
    justify-content: end;
  }

  .form-control{
    width: auto;
  }

}
